* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: #eee;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.6);
}

.wrapper {
}

.wrapper > * {
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    padding: 0.25rem 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(255, 40, 40, 0.6) !important;
}

main article {
    width: 100%;
    height: 12rem;
    background: rgba(190, 190, 190, 1);
    margin: 0.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    grid-area: aside;
}

.sect-a {
    grid-area: sect-a;
}
.sect-b {
    grid-area: sect-b;
}
.sect-c {
    grid-area: sect-c;
}
.sect-d {
    grid-area: sect-d;
}
.sect-e {
    grid-area: sect-e;
}
.sect-f {
    grid-area: sect-f;
}
.sect-g {
    grid-area: sect-g;
}

footer {
    grid-area: footer;
}
